In [51]:
import pandas as pd
df = pd.read_csv('athlete_events.csv')
regions = pd.read_csv('noc_regions.csv')

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [53]:
df = df[df['Season'] == 'Summer']
df = df.merge(regions,on = 'NOC',how = 'left')
df.drop_duplicates(inplace = True)
df = pd.concat([df,pd.get_dummies(df['Medal'])],axis = 1)

In [54]:
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,0,0,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,0,0,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,0,0,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,0,1,0
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,Netherlands,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222547,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN,Argentina,NaN,0,0,0
222548,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN,USA,NaN,0,0,0
222549,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN,0,0,0
222550,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN,0,0,0
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Belarus,NaN,0,0,0

In [55]:
medal_tally = df.drop_duplicates(subset = ['Team','NOC','City','Sport','Event','Medal','Games'])
medal_tally = medal_tally.groupby('region').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending = False).reset_index()
medal_tally['Total'] = medal_tally['Gold'] + medal_tally['Silver'] + medal_tally['Bronze']

In [56]:
medal_tally

            region    Gold  Silver  Bronze   Total
0              USA  1035.0   802.0   708.0  2545.0
1           Russia   592.0   498.0   487.0  1577.0
2          Germany   444.0   457.0   491.0  1392.0
3               UK   278.0   317.0   300.0   895.0
4           France   234.0   256.0   287.0   777.0
..             ...     ...     ...     ...     ...
200        Lesotho     0.0     0.0     0.0     0.0
201        Albania     0.0     0.0     0.0     0.0
202          Libya     0.0     0.0     0.0     0.0
203  Liechtenstein     0.0     0.0     0.0     0.0
204        Liberia     0.0     0.0     0.0     0.0

[205 rows x 5 columns]

In [57]:
df.head(1)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,0,0,0

In [58]:
df['region']
years =  df['Year'].unique().tolist()
years.insert(0,'Overall')
country = df['region'].unique().tolist()
country.insert(0,'Overall')

In [59]:
years

['Overall',
 1992,
 2012,
 1920,
 1900,
 1932,
 1952,
 2000,
 1996,
 1912,
 1924,
 1948,
 2008,
 2016,
 2004,
 1984,
 1968,
 1972,
 1988,
 1936,
 1956,
 1960,
 1928,
 1976,
 1980,
 1964,
 1906,
 1904,
 1908,
 1896]

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221167 entries, 0 to 222551
Data columns (total 20 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      221167 non-null  int64
 1   Name    221167 non-null  object
 2   Sex     221167 non-null  object
 3   Age     212137 non-null  float64
 4   Height  170667 non-null  float64
 5   Weight  168661 non-null  float64
 6   Team    221167 non-null  object
 7   NOC     221167 non-null  object
 8   Games   221167 non-null  object
 9   Year    221167 non-null  int64
 10  Season  221167 non-null  object
 11  City    221167 non-null  object
 12  Sport   221167 non-null  object
 13  Event   221167 non-null  object
 14  Medal   34077 non-null   object
 15  region  220797 non-null  object
 16  notes   4397 non-null    object
 17  Bronze  221167 non-null  uint8
 18  Gold    221167 non-null  uint8
 19  Silver  221167 non-null  uint8
dtypes: float64(3), int64(2), object(12), uint8(3)
memory usage: 31.0+ MB

In [61]:
df['Year'].unique().shape

(29,)

In [62]:
nation_over_time =df.drop_duplicates(['Year','region'])['Year'].value_counts().reset_index().sort_values('index')
nation_over_time.rename(columns = {'index':'Editions','Year':'No of countries'},inplace = True)

In [63]:
x = df.drop_duplicates(['Year','Event','Sport'])
x.pivot_table(index = 'Sport',columns = 'Year',values = 'Event',aggfunc = 'count').fillna(0).astype('int')

Year,1896,1900,1904,1906,1908,1912,1920,1924,1928,1932,...,1980,1984,1988,1992,1996,2000,2004,2008,2012,2016
Sport,,,,,,,,,,,,,,,,,,,,,
Aeronautics,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Alpinism,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Archery,0,8,6,0,3,0,10,0,0,0,...,2,2,4,4,4,4,4,4,4,4
Art Competitions,0,0,0,0,0,5,5,5,13,13,...,0,0,0,0,0,0,0,0,0,0
Athletics,12,23,24,21,26,30,29,27,27,29,...,38,41,42,43,44,46,46,47,47,47
Badminton,0,0,0,0,0,0,0,0,0,0,...,0,0,0,4,5,5,5,5,5,5
Baseball,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,0,0
Basketball,0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
Basque Pelota,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Beach Volleyball,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,2,2,2,2,2
Boxing,0,0,7,0,5,0,8,8,8,8,...,11,12,12,12,12,12,11,11,13,13
Canoeing,0,0,0,0,0,0,0,0,0,0,...,11,12,12,16,16,16,16,16,16,16
Cricket,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Croquet,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cycling,6,3,7,6,6,2,6,6,6,6,...,6,8,9,10,14,18,18,18,18,18
Diving,0,0,1,1,2,4,5,5,4,4,...,4,4,4,4,4,8,8,8,8,8
Equestrianism,0,5,0,0,0,5,7,5,6,6,...,6,6,6,6,6,6,6,6,6,6
Fencing,3,7,5,8,4,5,6,7,7,7,...,8,8,8,8,10,10,10,10,10,10
Figure Skating,0,0,0,0,4,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Football,0,1,1,1,1,1,1,1,1,0,...,1,1,1,1,2,2,2,2,2,2
Golf,0,2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
Gymnastics,8,1,12,4,2,4,4,9,8,11,...,14,14,14,14,14,14,14,14,14,14
Handball,0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
Hockey,0,0,0,0,1,0,1,0,1,1,...,2,2,2,2,2,2,2,2,2,2
Ice Hockey,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Jeu De Paume,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Judo,0,0,0,0,0,0,0,0,0,0,...,8,8,7,14,14,14,14,14,14,14
Lacrosse,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Modern Pentathlon,0,0,0,0,0,1,1,1,1,1,...,2,2,2,2,1,2,2,2,2,2
Motorboating,0,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Polo,0,1,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Racquets,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Rhythmic Gymnastics,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,2,2,2,2,2,2
Roque,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Rowing,0,4,5,6,4,4,5,7,7,7,...,14,14,14,14,14,14,14,14,14,14
Rugby,0,1,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Rugby Sevens,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
Sailing,0,8,0,0,4,4,10,3,3,4,...,6,7,8,10,10,11,11,11,10,10
Shooting,5,8,0,12,15,18,22,10,0,2,...,7,11,13,13,15,17,17,15,15,15
Softball,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,0,0
Swimming,4,7,10,4,6,9,10,11,11,11,...,26,29,31,31,32,32,32,34,34,34
Synchronized Swimming,0,0,0,0,0,0,0,0,0,0,...,0,2,2,2,1,2,2,2,2,2
Table Tennis,0,0,0,0,0,0,0,0,0,0,...,0,0,4,4,4,4,4,4,4,4
Taekwondo,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,8,8,8,8,8
Tennis,2,4,2,4,6,8,5,5,0,0,...,0,0,4,4,4,4,4,4,5,5
Trampolining,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,2,2,2,2
Triathlon,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,2,2,2,2
Tug-Of-War,0,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Volleyball,0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
Water Polo,0,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,2,2,2,2,2
Weightlifting,2,0,2,2,0,0,5,5,5,5,...,10,10,10,10,10,15,15,15,15,15
Wrestling,1,0,7,4,9,5,10,13,13,14,...,20,20,20,20,20,16,18,18,18,18

In [64]:
sports_list = df['Sport'].unique().tolist()
sports_list.sort()
sports_list.insert(0,'Overall')

In [65]:
def most_successfull(df,selected_sport):
    temp = df.dropna(subset = ['Medal'])
    selected_sport = 'Overall'
    if selected_sport != 'Overall':
        temp = temp[temp['Sport'] == selected_sport]
    x = temp['Name'].value_counts().reset_index().merge(df,left_on = 'index',right_on = 'Name',how= 'left')[['index','Name_x','region','Sport']].drop_duplicates('index')
    x.rename(columns={'index':'Name','Name_x':'Medals'})
    x.drop('level_0',axis=1)
    return x

In [66]:
y = most_successfull(df,'Athletics')

KeyError: "['level_0'] not found in axis"

In [67]:
x = []
name = []
athlete = df.drop_duplicates(['region','Name'])
sports = df['Sport'].unique().tolist()

x

[]

In [68]:
def most_successfull_athlete_country_wise(df,country):
    temp = df.dropna(subset = ['Medal'])
    temp = temp[temp['region'] == country]
    x = temp['Name'].value_counts().reset_index().head(15).merge(df,left_on = 'index',right_on = 'Name',how= 'left')[['index','Name_x','region','Sport']].drop_duplicates('index').reset_index()
    x.drop('level_0',axis=1,inplace = True)
    x.rename(columns={'index':'Name','Name_x':'Medals'},inplace = True)
    return x

In [69]:
sports = ['Basketball','Judo','Football','Tug-Of-War','Athletics','Swimming','Badminton','Sailing','Gymnastics','Art Competitions','Handball','Weightlifting','Wrestling','Water Polo','Hockey','Rowing','Fencing','Shooting','Boxing','Taekwondo','Cycling','Diving','Canoeing','Tennis','Golf','Softball','Archery','Volleyball','Synchronized Swimming','Table Tennis','Baseball','Rythmic Gymnastics','Rugby Sevens','Beach Volleyball','Triathlon','Rugby','Polo','Ice Hockey']
x = []
name = []
for sport in sports:
    temp_df = athlete[athlete['Sport'] == sport]
    x.append(temp_df[temp_df['Medal'] == 'Gold']['Age'].dropna())
    name.append(sport)
fig = ff.create_distplot(x,name,show_hist=False,show_rug=False)
fig.update_layout(autosize = False,width = 1000,height = 600)
st.plotly_chart(fig)

ValueError: min() arg is an empty sequence

In [70]:
sports = ['Basketball','Judo','Football','Tug-Of-War','Athletics','Swimming','Badminton','Sailing','Gymnastics','Art Competitions','Handball','Weightlifting','Wrestling','Water Polo','Hockey','Rowing','Fencing','Shooting','Boxing','Taekwondo','Cycling','Diving','Canoeing','Tennis','Golf','Softball','Archery','Volleyball','Synchronized Swimming','Table Tennis','Baseball','Rythmic Gymnastics','Rugby Sevens','Beach Volleyball','Triathlon','Rugby','Polo','Ice Hockey']
x = []
name = []
for sport in sports:
    temp_df = athlete[athlete['Sport'] == sport]
    x.append(temp_df[temp_df['Medal'] == 'Gold']['Age'].dropna())
    name.append(sport)

In [75]:
x[1]

5615      22.0
5765      28.0
10988     21.0
13365     21.0
18689     28.0
          ...
217635    24.0
218588    22.0
219102    26.0
221433    23.0
222463    23.0
Name: Age, Length: 90, dtype: float64

In [ ]:
sports = ['Basketball','Judo','Football','Tug-Of-War','Athletics','Swimming','Badminton','Sailing','Gymnastics','Art Competitions','Handball','Weightlifting','Wrestling','Water Polo','Hockey','Rowing','Fencing','Shooting','Boxing','Taekwondo','Cycling','Diving','Canoeing','Tennis','Golf','Softball','Archery','Volleyball','Synchronized Swimming','Table Tennis','Baseball','Rythmic Gymnastics','Rugby Sevens','Beach Volleyball','Triathlon','Rugby','Polo','Ice Hockey']

In [88]:
athlete = df.drop_duplicates(['region','Name'])
men = athlete[athlete['Sex'] == 'M'].groupby('Year').count()['Name'].reset_index()
women = athlete[athlete['Sex'] == 'F'].groupby('Year').count()['Name'].reset_index()
final = men.merge(women,on='Year',how='left')
final.rename(columns = {'Name_x' : 'Male','Name_y' : 'Female'},inplace = True)
final.fillna(0,inplace = True)

In [85]:
athlete.head(1)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,0,0,0

In [89]:
final

    Year  Male  Female
0   1896   174     0.0
1   1900  1181    23.0
2   1904   629     6.0
3   1906   759     6.0
4   1908  1772    44.0
5   1912  1978    53.0
6   1920  2280    73.0
7   1924  2535   132.0
8   1928  2342   285.0
9   1932  1382   162.0
10  1936  3539   316.0
11  1948  3629   420.0
12  1952  3468   409.0
13  1956  2193   288.0
14  1960  3755   473.0
15  1964  3290   507.0
16  1968  3555   599.0
17  1972  4552   818.0
18  1976  3320  1028.0
19  1980  3151   875.0
20  1984  4299  1368.0
21  1988  4704  1734.0
22  1992  4769  2080.0
23  1996  4811  2518.0
24  2000  4294  2790.0
25  2004  3931  2820.0
26  2008  3990  2947.0
27  2012  3679  2919.0
28  2016  4022  3209.0